
/* Very Small Phones */
@media (max-width: 359px) {

    .Home{
        width: 100vw;
        margin: 0 auto;
    }
  
}

/* Small Phones */
@media (max-width: 479px) {
    
    .Home{
        width: 100vw;
        margin: 0 auto;
        overflow-y: hidden;
        overflow: hidden;
    }

    .cta-button{
      
      position: absolute;
      bottom: -15px;
      left: -15px;
      transform: scale(0.8);
    }

    a.btn{
        font-size: xx-small;
    }



  
}

/* Medium Phones */
@media (max-width: 599px) {}

/* Tablets Portrait */
@media (max-width: 767px) {}

/* Tablets Landscape */
@media (max-width: 991px) {}

/* Laptops */
@media (max-width: 1200px) {}

