.cv_plain_white {
    background-color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .plain-white-template {
    font-family: 'Arial', sans-serif;
    color: #000;
  }
  
  .profilePhoto {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  